<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к базе данных -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Students</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Диалект SQL для MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Показывать SQL запросы -->
        <property name="show_sql">true</property>

        <!-- Обновление схемы базы данных при запуске -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Аннотированные классы-сущности -->
        <mapping class="ua.com.alevel.entity.Student"/>
        <mapping class="ua.com.alevel.entity.Group"/>
    </session-factory>
</hibernate-configuration>
